instance_name = "<name_instance>"
instance_machine_type = "<machine_type>"
instance_zone = "<your_zone>"
instance_image = "<os_type>"
project     = "<your_project_id>"
region      = "<your_region>"
subnet_name = "default"
external_enabled = true
source_ranges = ["IP_1","IP_2"]
startup_script = "<startup_script>"
